extends layout.pug
block content
  div.content
    h2.content-head.is-center Feed My Fish
    div.pure-g
      div.l-box-lrg.pure-u-1.pure-u-md-2-5
        ul.feeder
          li.time.hidden
            h3 FEATURE COMING SOON
            h4 Next Feeding in:
            p.hours  hours
          li
            a.pure-button.feed-btn(href="#" onClick="revealTime()") Feed My Fish!
      div.l-box-lrg.pure-u-1.pure-u-md-3-5
        ul.feeder
          li
            h4 Live Feed
          li
            img.cam(src="http://72.179.33.165:8081/")
