extends layout.pug
block content
    div.content
        ul#feeder
            li
                a.pure-button.pure-button-primary(href="#") Feed My Fish!
            li
                h2 Live Feed
            li
                img#camera(src='')
