extends layout.pug

block content
  div.content
    h2.content-head.is-center Feeding Schedule
    div.pure-g
      div.l-box-lrg.pure-u-1.pure-u-md-2-5
        ul.schedule
          li
            h4 Recent Feedings Date & Time
          each val in feedData
            li= val

      div.l-box-lrg.pure-u-1.pure-u-md-3-5
        h4 Camera
        img.cam(src="http://70.124.128.195:8081/")
