extends layout.pug
block content
  div.content
    h2.content-head.is-center View Fish
    div.pure-g
      div.l-box-lrg.pure-u-1.pure-u-md-2-5
        h4 Tank Stats
        p Temperature:
        span#temperature 71
        span  F
      div.l-box-lrg.pure-u-1.pure-u-md-3-5
        h4 Camera
        img#camera(src='')
